.Rproj.user
.Rhistory
.RData
.Ruserdata
tidysq.Rproj
*.o
*.so

benchmark/*.fasta
benchmark/*.csv

src/Makevars

config.log

config.status

src/tidysq.dll

src/main.cpp

.idea/

cmake-build-debug/

CMakeLists.txt
